/* LANDING */


#rotate{
    background-image: url(img/landing/navIcon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index:1001;
    position:fixed;
    height:50px;
    width:45px;
    right:5px;
    top:5px;
}
#rotate:hover{
    cursor: pointer;
}

.divNav{
    display:none;
    position:fixed;
    height:100vh;
    width:100%;
    background-color:rgba(255,255,255,.9);
    color:white;
    z-index:1000;
/*    transition:all 0.3s ease 0s;*/
    text-align: center;
}

.showNav{
    display:inline-block;
/*    transition:all 0.3s ease 0s;*/
}

.navItem{
    font-size:24px;
    transition:all 0.3s ease 0s;
    color:#26AAE1;
    font-weight: bold;
    border-bottom:2px solid transparent;
}
.navItem:hover{
    cursor:pointer;
}

.navItem:hover{
    border-bottom:2px solid #26AAE1;
}

header{
    transition:all 0.3s ease 0s;
}

.landingHeader1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/landing/ironoxygen1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/landing/ironoxygen1.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment:fixed;
    transition:all 0.3s ease 0s;
}

.landingHeader2 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/landing/ironoxygen2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/landing/ironoxygen2.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment:fixed;
    transition:all 0.3s ease 0s;
}

.landingHeader3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/landing/ironoxygen3.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/landing/ironoxygen3.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment:fixed;
    transition:all 0.3s ease 0s;
}

.landBTN{
    border:1px solid transparent;
    color:white !important;
    font-weight: bold;
    transition:all 0.3s ease 0s;
}

.joinBTN{
    border:2px solid #26AAE1;
    background-color: #26AAE1;
}
.joinBTN:hover{
    border:2px solid #26AAE1;
    background-color: transparent;
}

.passBTN{
    border:2px solid #F15A2A;
    background-color: #F15A2A;
}
.passBTN:hover{
    border:2px solid #F15A2A;
    background-color: transparent;
}

.phoneBTN{
    border:2px solid #e13226;
    background-color: #e13226;
    text-align: left;
}
.phoneBTN:hover{
    background-color:transparent;
}

.moreBTN{
    border: 2px solid lightgrey;
    color:white !important;
    font-weight: bold;
    background-color:lightgrey;
    transition:all 0.3s ease 0s;
}
.moreBTN:hover{
    border:2px solid white;
    background-color: transparent;
}

.dayTime{
    width:75px;
    transition:all 0.3s ease 0s;
    display: inline-block;
}

@media (min-width:560px){
    .dayTime{
        margin-top:50px;
    }
}


/*
.bigFeature{
    display:none;
    position:fixed;
    height:100vh;
    width:100%;
    background-color:rgba(255,255,255,.9);
    color:white;
    z-index:1002;
    transition:all 0.3s ease 0s;
    text-align: center;
}
*/




.stickyHeader{
    padding-bottom:5px;
    background-color:white;
    top:-1px;
    position:sticky;
    width:100%;
    height:60px;
    padding-top:5px;
}

#landingInfo{
    text-align:center;
    background-color:white;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/landing/row.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/landing/rowpic.jpg);
    background-size: cover;
    background-position: right top;
    background-attachment:fixed;
}

.feature{
    height:200px;
    width:200px;
    display:inline-block;
    border:2px solid white;
    border-radius: 10%;
    margin-top:10px;
    color:white;
    font-weight: bold;
    text-align:center;
}
.feature:hover{
    cursor:pointer;
}


#siteMap{
    text-align: center;
    background-color:#26AAE1;
    color:white;
    padding-bottom:10px;
    padding-top:10px;
}
.mapSection{
    text-align:center;
    width:32%;
    display:inline-block;
    padding:0px !important;
    margin:0 !important;
    vertical-align:top;
}
.sectionElem{
    display:block;
    color:white;
}

@media (max-width:600px){
    .mapSection{
        display:block;
        width:100%;
    }
}

.bigFeature{
    display:none;
    position:fixed;
    height:100vh;
    width:100%;
    background-color:rgba(0,0,0,.75);
    color:white;
    z-index:1002;
/*    transition:all 0.3s ease 0s;*/
    text-align: center;
}
.smallFeature{
    background-color:deepskyblue;
    border:3px solid white;
    height:80%;
    max-height:400px;
    max-width:400px;
    width:80%;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
    border-radius:10px;
}
.showFeature{
    display:inline-block;
}
.featureX{
    height:25px;
    width:25px;;
    float:right;
}
.featureX:hover{
    cursor:pointer;
}
.xBTN{
    font-size:25px;
}

